# Pandas MatplotLib

In [100]:
%matplotlib inline
import pandas as pd
import numpy as np
from matplotlib.image import imread
import  matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('cleaned_phone_data.csv')
df

,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.000000,1819.000000,36,5.00,8.0,2000.0,10-2020
1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020
2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020
3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.000000,2489.000000,36,5.00,16.0,2000.0,9-2020
4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999.0,7716.018672,9883.410788,10,5.71,16.0,3000.0,4-2020
...,...,...,...,...,...,...,...,...,...,...,...,...
1021,Apple,iPhone XS Max 512GB Space Gray (MT622),iOS,842,27190.0,21150.000000,30200.000000,47,6.50,512.0,3174.0,9-2018
1022,Apple,iPhone XS Max 64GB Gold (MT522),iOS,1101,22685.0,16018.000000,27900.000000,61,6.50,64.0,3174.0,9-2018
1023,Apple,iPhone XS Max Dual Sim 64GB Gold (MT732),iOS,530,24600.0,21939.000000,33720.000000,28,6.50,64.0,3174.0,9-2018
1024,HUAWEI,nova 5T 6/128GB Black (51094MEU),Android,1174,8804.0,7999.000000,9999.000000,18,6.26,128.0,3750.0,11-2019
1025,ZTE,nubia Red Magic 5G 8/128GB Black,Android,752,18755.0,18500.000000,19010.000000,2,6.65,128.0,4500.0,10-2020

In [75]:
s_columns = ['brand_name','model_name','best_price','os','memory_size','battery_size']
df_2 = df[s_columns]

In [76]:
model_ex = df['model_name']
df_3 =  model_ex
df_3

0               1 1/8GB Bluish Black (5033D-2JALUAA)
1       1 5033D 1/16GB Volcano Black (5033D-2LALUAF)
2       1 5033D 1/16GB Volcano Black (5033D-2LALUAF)
3       1 5033D 1/16GB Volcano Black (5033D-2LALUAF)
4                                1.3 1/16GB Charcoal
                            ...
1021          iPhone XS Max 512GB Space Gray (MT622)
1022                 iPhone XS Max 64GB Gold (MT522)
1023        iPhone XS Max Dual Sim 64GB Gold (MT732)
1024                nova 5T 6/128GB Black (51094MEU)
1025                nubia Red Magic 5G 8/128GB Black
Name: model_name, Length: 1026, dtype: object

In [77]:
df_3 = df_3.str.split(expand = True)

In [78]:
df_3.to_csv('single.csv', index=False)

In [79]:
df_3

,0,1,2,3,4,5,6,7,8,9
0,1,1/8GB,Bluish,Black,(5033D-2JALUAA),None,None,None,None,None
1,1,5033D,1/16GB,Volcano,Black,(5033D-2LALUAF),None,None,None,None
2,1,5033D,1/16GB,Volcano,Black,(5033D-2LALUAF),None,None,None,None
3,1,5033D,1/16GB,Volcano,Black,(5033D-2LALUAF),None,None,None,None
4,1.3,1/16GB,Charcoal,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
1021,iPhone,XS,Max,512GB,Space,Gray,(MT622),None,None,None
1022,iPhone,XS,Max,64GB,Gold,(MT522),None,None,None,None
1023,iPhone,XS,Max,Dual,Sim,64GB,Gold,(MT732),None,None
1024,nova,5T,6/128GB,Black,(51094MEU),None,None,None,None,None
1025,nubia,Red,Magic,5G,8/128GB,Black,None,None,None,None

In [80]:
df_3[6].isnull().sum()
type(df_3[2])

pandas.core.series.Series

In [81]:
df_3['model_names'] = df_3[0] + " " + df_3[1]
df_3['model_specs'] = df_3[2] + "_" + df_3[3] + " " + df_3[5]
# df_3['Model_'] = df_3[4] + " " + df_3[5]
# df_3['Model_name'] = df_3[0] + " " + df_3[1]
df_3

,0,1,2,3,4,5,6,7,8,9,model_names,model_specs
0,1,1/8GB,Bluish,Black,(5033D-2JALUAA),None,None,None,None,None,1 1/8GB,NaN
1,1,5033D,1/16GB,Volcano,Black,(5033D-2LALUAF),None,None,None,None,1 5033D,1/16GB_Volcano (5033D-2LALUAF)
2,1,5033D,1/16GB,Volcano,Black,(5033D-2LALUAF),None,None,None,None,1 5033D,1/16GB_Volcano (5033D-2LALUAF)
3,1,5033D,1/16GB,Volcano,Black,(5033D-2LALUAF),None,None,None,None,1 5033D,1/16GB_Volcano (5033D-2LALUAF)
4,1.3,1/16GB,Charcoal,None,None,None,None,None,None,None,1.3 1/16GB,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1021,iPhone,XS,Max,512GB,Space,Gray,(MT622),None,None,None,iPhone XS,Max_512GB Gray
1022,iPhone,XS,Max,64GB,Gold,(MT522),None,None,None,None,iPhone XS,Max_64GB (MT522)
1023,iPhone,XS,Max,Dual,Sim,64GB,Gold,(MT732),None,None,iPhone XS,Max_Dual 64GB
1024,nova,5T,6/128GB,Black,(51094MEU),None,None,None,None,None,nova 5T,NaN
1025,nubia,Red,Magic,5G,8/128GB,Black,None,None,None,None,nubia Red,Magic_5G Black

In [82]:
# df_3.rename(columns={0:'model_name'}, inplace = True)
# df_3.rename(columns={0:'model_name'}, inplace = True)
# df_3.rename(columns={0:'model_name'}, inplace = True)
# df_3.rename(columns={0:'model_name'}, inplace = True)
# df_3.rename(columns={0:'model_name'}, inplace = True)

In [83]:
df_3 = df_3.drop(columns=[0,1,2,3,4,5,6,7,8,9])

In [84]:
df_3

     model_names                     model_specs
0        1 1/8GB                             NaN
1        1 5033D  1/16GB_Volcano (5033D-2LALUAF)
2        1 5033D  1/16GB_Volcano (5033D-2LALUAF)
3        1 5033D  1/16GB_Volcano (5033D-2LALUAF)
4     1.3 1/16GB                             NaN
...          ...                             ...
1021   iPhone XS                  Max_512GB Gray
1022   iPhone XS                Max_64GB (MT522)
1023   iPhone XS                   Max_Dual 64GB
1024     nova 5T                             NaN
1025   nubia Red                  Magic_5G Black

[1026 rows x 2 columns]

In [85]:
df_3.isnull().sum()

model_names      3
model_specs    665
dtype: int64

In [86]:
mode = df_3.mode().iloc[0]
mode

model_names      Redmi Note
model_specs    Pro_Max Dual
Name: 0, dtype: object

In [87]:
df_3 = df_3.fillna(mode)

In [88]:
df_3.isnull().sum()

model_names    0
model_specs    0
dtype: int64

In [89]:
df_3

     model_names                     model_specs
0        1 1/8GB                    Pro_Max Dual
1        1 5033D  1/16GB_Volcano (5033D-2LALUAF)
2        1 5033D  1/16GB_Volcano (5033D-2LALUAF)
3        1 5033D  1/16GB_Volcano (5033D-2LALUAF)
4     1.3 1/16GB                    Pro_Max Dual
...          ...                             ...
1021   iPhone XS                  Max_512GB Gray
1022   iPhone XS                Max_64GB (MT522)
1023   iPhone XS                   Max_Dual 64GB
1024     nova 5T                    Pro_Max Dual
1025   nubia Red                  Magic_5G Black

[1026 rows x 2 columns]

In [90]:
df_1 = pd.concat([df_2, df_3], axis = 1)

In [91]:
df_1

,brand_name,model_name,best_price,os,memory_size,battery_size,model_names,model_specs
0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),1690.0,Android,8.0,2000.0,1 1/8GB,Pro_Max Dual
1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),1803.0,Android,16.0,2000.0,1 5033D,1/16GB_Volcano (5033D-2LALUAF)
2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),1803.0,Android,16.0,2000.0,1 5033D,1/16GB_Volcano (5033D-2LALUAF)
3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),1803.0,Android,16.0,2000.0,1 5033D,1/16GB_Volcano (5033D-2LALUAF)
4,Nokia,1.3 1/16GB Charcoal,1999.0,Android,16.0,3000.0,1.3 1/16GB,Pro_Max Dual
...,...,...,...,...,...,...,...,...
1021,Apple,iPhone XS Max 512GB Space Gray (MT622),27190.0,iOS,512.0,3174.0,iPhone XS,Max_512GB Gray
1022,Apple,iPhone XS Max 64GB Gold (MT522),22685.0,iOS,64.0,3174.0,iPhone XS,Max_64GB (MT522)
1023,Apple,iPhone XS Max Dual Sim 64GB Gold (MT732),24600.0,iOS,64.0,3174.0,iPhone XS,Max_Dual 64GB
1024,HUAWEI,nova 5T 6/128GB Black (51094MEU),8804.0,Android,128.0,3750.0,nova 5T,Pro_Max Dual
1025,ZTE,nubia Red Magic 5G 8/128GB Black,18755.0,Android,128.0,4500.0,nubia Red,Magic_5G Black

In [92]:
column_tp_drop = [1]
df_1 = df_1.drop(df_1.columns[column_tp_drop], axis = 1)

In [93]:
df_1

,brand_name,best_price,os,memory_size,battery_size,model_names,model_specs
0,ALCATEL,1690.0,Android,8.0,2000.0,1 1/8GB,Pro_Max Dual
1,ALCATEL,1803.0,Android,16.0,2000.0,1 5033D,1/16GB_Volcano (5033D-2LALUAF)
2,ALCATEL,1803.0,Android,16.0,2000.0,1 5033D,1/16GB_Volcano (5033D-2LALUAF)
3,ALCATEL,1803.0,Android,16.0,2000.0,1 5033D,1/16GB_Volcano (5033D-2LALUAF)
4,Nokia,1999.0,Android,16.0,3000.0,1.3 1/16GB,Pro_Max Dual
...,...,...,...,...,...,...,...
1021,Apple,27190.0,iOS,512.0,3174.0,iPhone XS,Max_512GB Gray
1022,Apple,22685.0,iOS,64.0,3174.0,iPhone XS,Max_64GB (MT522)
1023,Apple,24600.0,iOS,64.0,3174.0,iPhone XS,Max_Dual 64GB
1024,HUAWEI,8804.0,Android,128.0,3750.0,nova 5T,Pro_Max Dual
1025,ZTE,18755.0,Android,128.0,4500.0,nubia Red,Magic_5G Black

In [117]:
plt.figure(figsize=(10, 6))
sns.barplot(data=df, x='os', y='best_price', hue='brand_name', palette='viridis', s=40)
plt.show()

ValueError: could not convert string to float: 'ALCATEL'