# Regression Model Evaluation

In [1]:
# standerd imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Ridge
from sklearn.svm import LinearSVC
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score
import pickle as pc
%matplotlib inline

# Regression Model Evaluation 
+ R^2
+ Compare your model prediction to the mean for your target
## Mean Absolute Error
## Mean Squared Error

In [2]:
# R^2, thumb rule is to maximize the R2 value
np.random.seed(4)
df_1 = pd.read_csv('housing.csv')
df_1

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [3]:
# create data
np.random.seed(3)
X = df_1.drop('target', axis = 1)
y = df_1['target']
# Model split test and train
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.20)
# instantiate the Ridge Model
reg_model = RandomForestRegressor()
reg_model.fit(X_train, y_train)
reg_model.score(X_test, y_test)

0.9072857183707557

# mean absolute error

In [4]:
# mean absolute error
# MAE = the average of th absolute (plus) difference between predicted and actual
from sklearn.metrics import mean_absolute_error
y_pred = reg_model.predict(X_test)
MAE = mean_absolute_error(y_test, y_pred)

MAE

np.float64(1.969911764705882)

In [5]:
# Converting into data
df = pd.DataFrame(data =  {'actual_values': y_test,
                          'predicted_Values': y_pred})

df['difference'] = df['actual_values'] - df['predicted_Values']
df

     actual_values  predicted_Values  difference
224           44.8            43.373       1.427
137           17.1            18.261      -1.161
453           17.8            21.372      -3.572
303           33.1            30.508       2.592
254           21.9            22.483      -0.583
..             ...               ...         ...
434           11.7            13.499      -1.799
294           21.7            21.869      -0.169
306           33.4            34.866      -1.466
463           20.2            21.829      -1.629
332           19.4            20.646      -1.246

[102 rows x 3 columns]

# Mean Square error

In [6]:
# take sqaure of them, then add upp, take mean

In [9]:
from sklearn.metrics import mean_squared_error
y_pred = reg_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mse

np.float64(7.672552107843138)

In [12]:
# mannualy 
mse_mannual = np.square(df["difference"])
mse_mannual.mean()

np.float64(7.672552107843138)