# Data analysis (EDA)

## Libraries to be used

In [19]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 1.4 MB/s eta 0:00:0000:0100:01m
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

## Problem to be identified
+ Need data
+ Evaluation
+ Features
+ Modeling
+ Iteration

## Data Analysis 
+ needed Pandas
+ Numpy
+ Matplotlib
+ plotly
+ seaborn
## For Machine learning and AI
+ Tensorflow
+ SK-Learn
+ pytorch

In [6]:
# series data 
mobile = pd.Series(['samsung','xiaomi','nokia'])
print( mobile)

0    samsung
1     xiaomi
2      nokia
dtype: object

In [9]:
# 1 dimentional 
bag = pd.Series(['pen','paper','notebook'])
print(bag)

0         pen
1       paper
2    notebook
dtype: object

In [10]:
df = pd.DataFrame({"Electronics": mobile, "Items": bag})
df

  Electronics     Items
0     samsung       pen
1      xiaomi     paper
2       nokia  notebook

## Import data

In [7]:
# csv 
df = pd.read_csv('./heart.csv')
df.to_excel('heart.xlsx', index = False)
df = pd.read_excel('./heart.xlsx')
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0